<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-comments fa-fw"></i> New
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <form class="form-horizontal" role="form" ng-submit="addLanguage()">
      <div ng-include="'partials/langs/_form.html'"></div>
      <div class="btn-group-sm pull-right">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </form>
    <!-- /. form -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->