<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-comments fa-fw"></i> {{album.name}} ({{album.objectId}})
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-xs-3">
          <a href="#" class="thumbnail">
            <img src="{{album.thumbnail}}" alt="icon">
          </a>
        </div>
        <div class="col-xs-7">
          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
              <p class="form-control-static">{{album.description}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Language</label>

            <div class="col-sm-10">
              <p class="form-control-static">{{album.languageId.name_local}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" ng-repeat="albumt in album_t">
            <!--<label class="col-sm-2 control-label">{{albumt.languageId.code}}</label>-->

            <div class="col-sm-4">
              <p class="form-control-static">{{albumt.name}}</p>
            </div>
            <div class="col-sm-8">
              <p class="form-control-static">{{albumt.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- /. form -->
    <div class="btn-group-sm pull-right">
      <button type="button" class="btn btn-primary btn-sm" ui-sref="albums.edit({id:album.objectId})">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button type="button" class="btn btn-danger btn-sm" ng-click="deleteAlbum()">
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  </div>
  <!-- /.panel-body -->

  <!-- /.panel-footer -->
</div>
<!-- /.panel -->